@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,700&family=Josefin+Slab:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
  }

.hamburguer{
    /* background-color: red; */
    width: 10rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
  }
.hamburguer:hover{
    background-color: rgb(131, 45, 19);
}
.hamburguer span{
    position: absolute;
    left: 5rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: start;
    align-content: center;
    background-color: slateblue;


}

.line {
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
  }


header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}   

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,8)
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s; 
}

@keyframes zoom{
    0%{
        transform: scale(1.3);

    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .0.2rem .0.3rm 2px rgba(0, 0, 0, .4);
    line-height: 4.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s;

}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem)
    }100%{
        transform: translateY(0)
    }
}

.banner p{
    font-family: "Josefin Sans", serif;
    color: rgb(42, 119, 143);
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    animation: moveBanner 1s;
}

.banner button{
    font-family: "Muli" Arial, Helvetica, sans-serif;
    color: rgb(235, 223, 223) ;
    text-transform: uppercase;
    background: #c04d94;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 3rem;
    border: none;
    letter-spacing: .1rem;
    border-radius: 5px;
    cursor: pointer;
}

.banner button:hover{
    color: rgb(21, 116, 21);
}

.sidebar{
    width: 20rem; 
    height: 100vh;
    background-color: rgb(248, 240, 229);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;


}

.sidebar.show-menu{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.menu-item{
    text-align: center;

}

.menu-link{
    font-family:  var(--font-action);
    font-size: 2rem;
    color: rgb(32, 25, 25) ;
    transition: color 1s;

}

.menu-link:hover{
    color: rgb(207, 24, 24);
}

.social-media{
    background-color: rgb(217, 233, 217);
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    
    
}
.social-media:hover{
    background-color: seagreen;
}
.social-media i { 

    background-color: rgb(21, 116, 21);
    color: rgb(235, 223, 223);
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;

}

.conhecimentos {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 0.5rem;
  }
  
  .conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 3;
  }
  
  .conhecimento:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
  }
  
  .conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / -1;
  }
  
  .conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 3;
  }
  
  .conhecimento:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3 / 5;
  }
  
  .conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / -1;
  }

  .sessao-header{
      display: flex;
      align-self: center;
      justify-content: center;
  }

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: rgb(3, 5, 5);
    border-bottom: solid 3px purple;
    margin-bottom: 1.5rem;
    
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
  }
  
  .conhecimento-header i {
    font-size: 2.5rem;
  }
  
  .conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
  }
  
  .conhecimento-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
  }
  
  .conhecimentos-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 2 / 7;
    width: 50%;
    height: 50%;
  }
  
  .conhecimentos-img-wrapper img {
    object-fit: cover;
    height: 100%;
  }